{% extends "layoutini.twig" %}

{% block contenido %}
<form class="formLogin" method="post" action="">
	<fieldset>
	<label>Usuario:</label>
	<input type="text" name="usuario" required placeholder="Usuario">
	<label>Contrase単a:</label>
	<input type="password" name="contrase単a" required placeholder="Contrase単a">

	<input type="checkbox" name="remember"> <label>Remember me</label>

	<button type="submit">Login</button>
	 Olvidaste tu <a href="recuperar">contrase単a?</a>

	</fieldset>

</form>


</body>
</html>

{% endblock %}
