{% extends "layout.twig" %}

{% block contenido %}

    <div id="new" class="modal">
      <form method="POST" class="modal-content abm-content">
        <a class="close" onclick="cerrar()" onkeypress="cerrar()" role="button">×</a>
        <h3>Nuevo Usuario</h3>
        <label for="newName">Nombre: </label>
        <input type="text" name="nombre" id="newName" maxlength="55" placeholder="Nombre" required/>
        <label for="newApellido">Apellido: </label>
        <input type="text" name="apellido" id="newApellido" maxlength="45" placeholder="Apellido" required/>
        <label for="newTelefono">Teléfono: </label>
        <input type="number" name="telefono" id="newTelefono" maxlength="25" placeholder="Tel.." required/>
        <label for="newRol">Rol: </label>
        <select id="newRol" name="rol_id" required>
         <option value="" selected="selected">Seleccione</option>
         <option value="1">Administrador</option>
         <option value="2">Usuario Online</option>
         <option value="3">Gestión</option>
        </select>
        <label for="newUbicacion" id="labelUbicacion">Ubicación: </label>
        <select id="newUbicacion" name="ubicacion_id">
         <option value="" selected="selected">Seleccione</option>
         {% for ubicacion in ubicaciones %}
         <option value="{{ ubicacion.id }}">{{ ubicacion.nombre }} | {{ ubicacion.descripcion }}</option>
         {% endfor %}
        </select>
        <label for="newMail">Mail: </label>
        <input type="email" name="email" id="newMail" placeholder="Email.." required/>
        <label for="newDocumento">Documento: </label>
        <input type="number" name="documento" id="newDocumento" maxlength="8" placeholder="Documento" required/>
        <label for="newUsername">Nombre de usuario: </label>
        <input type="text" name="user" id="newUsername" maxlength="20" placeholder="Nombre de usuario" required/>
        <label for="newPassword">Contraseña: </label>
        <input type="password" name="pass" id="newPassword" maxlength="20" placeholder="Contraseña" required/>
        <label for="newPassword2">Repita Contraseña: </label>
        <input type="password" id="newPassword2" maxlength="20" placeholder="Repita contraseña" required />
         <br><br>
        <input type="submit" value="Agregar"/>
      </form>
    </div>
    <br>
  <h1 class="title" id="listado">Usuarios</h1>
    <div class="centered">
  <a id="nuevo" href="#" class="action-button shadow animate green active" onclick ="mostrar('new')" onkeypress="mostrar('new')" role="button">Nuevo</a>
</div>

{% include 'usuarios/_index.twig' with {'usuarios' : usuarios} %}

{% endblock %}
