{% extends "layout.twig" %}

{% block contenido %}
</nav>
<form class="formAltaProd" method="post" action="">
  <fieldset class="fieldAltaProd" >
	<label>Proovedor:
  	<input type="text" name="proovedor" placeholder="Nombre del proovedord" required></label>
  	<label>Cuit proovedor:</label>
  	<input type="text" name="cuit" placeholder="Cuit" required>
  	<label>Factura escaneada:</label>

  	<input name="uploadedfile" type="file" name="factura" />
  	<a href="{{ baseUrl() }}/altaproducto"><input type="button" value="agregar producto"</a>

  	<br><br>
    <a href="{{ baseUrl() }}/compras">CONFIRMAR</a>

  </fieldset>
  
</form>
</body>
</html>
{% endblock %}