{% extends "layout.twig" %}

{% block contenido %}
</nav>
<form class="formAltaProd" method="post" action="altacompra">
  <fieldset class="fieldAltaProd" >
	<label>Proveedor:
  	<input type="text" name="proveedor" placeholder="Nombre del proveedor" required></label>
  	<label>Cuit proveedor:</label>
  	<input type="text" name="proveedor_cuit" placeholder="Cuit" required>

    <label for="productos" id="labelproductos">Productos: </label>
    <select id="newProducto" name="producto_id">
     <option value="" selected="selected">Seleccione</option>
     {% for producto in productos %}
     <option value="{{ producto.id }}">{{ producto.nombre }} | {{ producto.marca}}</option>
     {% endfor %}
    </select>
  	<br><br>
    <input type="submit" value="Agregar"/>

  </fieldset>

</form>
</body>
</html>
{% endblock %}
