{% extends "layout.twig" %}

{% block contenido %}
</nav>
<form class="formAltaProd" method="post" action="altacompra">
  <fieldset class="fieldAltaProd" >
	<label>Proveedor:
  	<input type="text" name="proveedor" placeholder="Nombre del proveedor" required></label>
  	<label>Cuit proveedor:</label>
  	<input type="text" name="proveedor_cuit" placeholder="Cuit" required>

    <label>Factura escaneada:</label>
    <form enctype="multipart/form-data" action="" method="post">
    <input name="uploadedfile" type="file" />

    </form>

    
     <a href="{{ baseUrl() }}/agregarproductos?id={{ compra.id }}" target="rightframe"><input type="button" value="Agregar productos a la compra" /></a>

     <input type="submit" value="Confirmar"/>
  </fieldset>

</form>
</body>
</html>
{% endblock %}
