{% extends "layout.twig" %}

{% block contenido %}
</nav>
<form class="formAltaProd" method="post" action="altacompra" enctype="multipart/form-data">
  <fieldset class="fieldAltaProd" >

	<label>Proveedor:
  	<input type="text" name="proveedor" placeholder="Nombre del proveedor" required></label>
  	<label>Cuit proveedor:</label>
  	<input type="text" name="proveedor_cuit" placeholder="Cuit" required>

    <label>Factura escaneada:</label>
    <input type="file" name="myFileInfo" id="myFileInfo">

    </form>


     <input type="submit" value="Confirmar"/>
  </fieldset>

</form>
</body>
</html>
{% endblock %}
