{% extends "layout.twig" %}

{% block contenido %}
<nav class="menu">
  <ul>
    <li><a href="listado/page?ids=1">Listado de productos</a></li>
    <li><a href="ingresos/page?id=1">Ventas de productos</a></li>
    <li><a href="compras/page?ids=1">Gastos</a></li>
    <li><a href="menu/page?id=1">Men&uacute;</a></li>
    <li><a href="users/page?id=1">Usuarios</a></li>
    <li><a href="pedidos/page?id=1">Pedidos online</a></li>
    <li><a href="config">Configuraci&oacute;n del sitio</a></li>
    <li><a href="ganancias">Ganancias</a></li>
    <li class="submenu"><a href="#">Balance</a>
    <ul>
          <li><a href="faltantes/page?id=1">Listado de productos faltantes</a></li>
          <li><a href="stockminimo/page?id=1">Listados de productos con stock m&iacute;nimo</a></li>
          <li><a href="ingresosentre">Listado de ingresos realizadas entre 2 fechas</a></li>
          <li><a href="egresosentre">Listado de gastos realizados entre 2 fechas</a></li>
    </ul>
    </li>

  </ul>

</nav>

{% endblock %}
