{% extends "layout.twig" %}

{% block contenido %}
<nav class="menu">
  <ul>
    <li><a href="listado">Listado de productos</a></li>
    <li><a href="ingresos">Ventas de productos</a></li>
    <li><a href="compras">Gastos</a></li>
    <li><a href="menu">Men&uacute;</a></li>
    <li><a href="users">Usuarios</a></li>
    <li><a href="pedidos">Pedidos online</a></li>
    <li><a href="config">Configuraci&oacute;n del sitio</a></li>
    <li class="submenu"><a href="#">Balance</a>
    <ul>
          <li><a href="faltantes">Listado de productos faltantes</a></li>
          <li><a href="stockminimo">Listados de productos con stock m&iacute;nimo</a></li>
          <li><a href="altaproducto.html">Listado de ingresos realizadas entre 2 fechas</a></li>
          <li><a href="listadoentre2">Listado de gastos realizados entre 2 fechas</a></li>
    </ul>
    </li>

  </ul>

</nav>


</body>
</html>

{% endblock %}
