{% extends "layout.twig" %}
{% block contenido %}
<form class="formLogin" method="post" action="index.php">
	<fieldset>
     <legend>Login</legend>
	<label for="usuario">Usuario:</label>
	<input type="text" name="usuario" id="usuario" required placeholder="Usuario">
	<label for="contraseña">Contraseña:</label>
	<input type="password" name="contraseña" id="contraseña" required placeholder="Contraseña">
      <label for=remember>.</label>
	<input type="checkbox" id="remember" name="remember"> <label>Remember me</label>
	<br>
	<input type='submit' value='Login' />
	<br>
	 Olvidaste tu <a href="recuperar">contraseña?</a>

	</fieldset>

</form>


{% endblock %}

