{% if flash.success is not empty %}
	<div class="flash success">
		<p>
			{{ flash.success }}
		</p>
	</div>
{% endif %}
{% if flash.error is not empty %}
	<div class="flash error">
		<p>
			{{ flash.error }}
		</p>
	</div>
{% endif %}
{% if flash.errors is not empty %}
	<div class="flash error">
		<p>
	{% for key,  error in flash.errors %}
			* {{ error }}
			<br>
	{% endfor %}
		</p>
	</div>
{% endif %}
